<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dateAccountMapper">
	<!-- 查询日结账汇总数据-->
	<select id="getAmountMsg" parameterType="pd" resultType="pd">
		SELECT T.*,(T.CASHTOTALMONEY+T.CARDTOTALMONEY+T.WXTOTALMONEY+T.ZFBTOTALMONEY+T.TTTOTALMONEY) TOTALMONEY
		FROM (
			SELECT 
			NVL(SUM((SELECT MONEY*(CASE WHEN OD.INPUT_OUTPUT = 'JX' THEN 1 ELSE -1 END) FROM T_PAY_ORDER_DETAIL_MONEY ODM WHERE ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.PAY_MODE = 'CASH')),0) AS CASHTOTALMONEY,
			NVL(SUM((SELECT MONEY*(CASE WHEN OD.INPUT_OUTPUT = 'JX' THEN 1 ELSE -1 END) FROM T_PAY_ORDER_DETAIL_MONEY ODM WHERE ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.PAY_MODE = 'CARD')),0) AS CARDTOTALMONEY,
			NVL(SUM((SELECT MONEY*(CASE WHEN OD.INPUT_OUTPUT = 'JX' THEN 1 ELSE -1 END) FROM T_PAY_ORDER_DETAIL_MONEY ODM WHERE ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.PAY_MODE = 'TT')),0) AS TTTOTALMONEY,
			NVL(SUM((SELECT MONEY*(CASE WHEN OD.INPUT_OUTPUT = 'JX' THEN 1 ELSE -1 END) FROM T_PAY_ORDER_DETAIL_MONEY ODM WHERE ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.PAY_MODE = 'WX')),0) AS WXTOTALMONEY,
			NVL(SUM((SELECT MONEY*(CASE WHEN OD.INPUT_OUTPUT = 'JX' THEN 1 ELSE -1 END) FROM T_PAY_ORDER_DETAIL_MONEY ODM WHERE ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.PAY_MODE = 'ZFB')),0) AS ZFBTOTALMONEY,
			NVL(COUNT(DISTINCT OD.STUDENT_PKID),0) AS TOTALPEOPLE
			FROM T_PAY_ORDER_DETAIL OD 
			JOIN T_PAY_ORDER O ON O.PKID = OD.PAY_ORDER_PKID
			JOIN V_USER U ON U.PKID = OD.STUDENT_PKID
			WHERE O.ORDERCREATE_MODE IN ('D','DO','I') AND TRANSACTION_FLAG = 1
			AND OD.CJR = #{CJR}
			<if test="STUDENTNAME !=null and STUDENTNAME!=''">
				AND U.XINGMING LIKE CONCAT(CONCAT('%', #{STUDENTNAME}),'%')
			</if>
			<if test="DATEACCOUNTDATE !=null and DATEACCOUNTDATE!=''">
		   		AND OD.CJSJ &gt;= to_date(#{DATEACCOUNTDATE},'YYYY-MM-DD')
		   		AND OD.CJSJ &lt; (to_date(#{DATEACCOUNTDATE},'YYYY-MM-DD')+1)
			</if>
			<if test="JIAOFEILEIXING !=null and JIAOFEILEIXING !=''">
		   		AND OD.INPUT_OUTPUT = #{JIAOFEILEIXING}
			</if>
			<if test="LASTCHECKDATE !=null and LASTCHECKDATE !=''">
		   		AND OD.CJSJ &gt; to_date(#{LASTCHECKDATE},'YYYY-MM-DD HH24:MI:SS')
			</if>
		) T
	</select>
	<!-- 查询日结账表单数据-->
	<select id="dateAccountlistPage" parameterType="page" resultType="pd">
		SELECT /*+ FIRST_ROWS(100) */ OD.PKID,OD.PAY_ORDERNO,S.SHENFENZHENGHAO,S.XINGMING,SB.XUEHAO,D.NAME AS GRADE_NAME,
		SD.NAME AS CLASSTYPE_NAME,P.PAY_STYLE_NAME,
		(CASE WHEN ODM.PAY_MODE = 'CASH' THEN '现金' WHEN ODM.PAY_MODE = 'CARD' THEN '银行卡' WHEN ODM.PAY_MODE = 'WX' THEN '微信'
		WHEN ODM.PAY_MODE = 'ZFB' THEN '支付宝'  ELSE '电汇' END) JIAOFEILEIXING,
		(CASE WHEN OD.INPUT_OUTPUT = 'JX' THEN '收入' ELSE '支出' END) INPUT_OUTPUT,
		ODM.MONEY,
		TO_CHAR(OD.CJSJ,'YYYY-MM-DD HH24:MI:SS') CJSJ
		FROM T_PAY_ORDER_DETAIL OD
		JOIN T_PAY_ORDER O ON O.PKID = OD.PAY_ORDER_PKID
		JOIN T_PAY_ITEM_LIST L ON OD.T_PAY_ITEM_LIST_PKID = L.PKID
		JOIN T_STUDENT_BM  SB ON SB.PKID = L.STUDENT_BM_PKID
		JOIN T_STUDENT S ON S.PKID = OD.STUDENT_PKID
		JOIN T_PAY_ITEM I ON I.PKID = L.T_PAY_ITEM_PKID 
		JOIN SYS_DICTIONARIES D ON D.DICTIONARIES_ID = I.GRADE_PKID
		JOIN SYS_DICTIONARIES SD ON  SD.DICTIONARIES_ID = I.CLASSTYPE_PKID
		JOIN T_PAY_STYLE P ON P.PKID = I.PAY_TYPE_PKID
		JOIN T_PAY_ORDER_DETAIL_MONEY ODM ON ODM.PAY_ORDER_DETAIL_PKID = OD.PKID 
		WHERE O.ORDERCREATE_MODE IN ('D','DO','I') AND TRANSACTION_FLAG = 1
		AND ODM.MONEY > 0
		AND OD.CJR = #{pd.CJR}
		<if test="pd.STUDENTNAME !=null and pd.STUDENTNAME!=''">
			AND ( S.SHENFENZHENGHAO LIKE CONCAT('%',CONCAT(#{pd.STUDENTNAME},'%'))
				OR S.XINGMING LIKE CONCAT('%',CONCAT(#{pd.STUDENTNAME},'%'))
				OR SB.XUEHAO LIKE CONCAT('%',CONCAT(#{pd.STUDENTNAME},'%'))) 
		</if>
		<if test="pd.DATEACCOUNTDATEQ !=null and pd.DATEACCOUNTDATEQ !=''">
	   		AND OD.CJSJ &gt;= to_date(#{pd.DATEACCOUNTDATEQ},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="pd.DATEACCOUNTDATEZ !=null and pd.DATEACCOUNTDATEZ !=''">
	   		AND OD.CJSJ &lt;= to_date(#{pd.DATEACCOUNTDATEZ},'YYYY-MM-DD HH24:MI:SS')
		</if>
		<if test="pd.JIAOFEILEIXING !=null and pd.JIAOFEILEIXING!=''">
	   		AND ODM.PAY_MODE = #{pd.JIAOFEILEIXING}
		</if>
		ORDER BY OD.CJSJ DESC
	</select>
	<select id="dateAccountlistExcel" parameterType="pd" resultType="pd">
		SELECT OD.PKID,U.SHENFENZHENGHAO,U.XINGMING,
		(SELECT NAME FROM SYS_DICTIONARIES D WHERE D.BIANMA = U.NIANJI AND D.PARENT_ID = 'GRADE') NIANJI,
		DE.NAME ZHUANYE, PARENTITEM(OD.PAY_ITEM_PKID) PARENTITEM, CHILDITEM(OD.PAY_ITEM_PKID) PAYITEM,(CASE WHEN OD.INPUT_OUTPUT = 'JX' THEN '收入' ELSE '支出' END) AS JIAOFEILEIXING,
		NVL((SELECT MONEY FROM T_PAY_ORDER_DETAIL_MONEY ODM WHERE ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.PAY_MODE = 'CASH'),0) AS CASHMONEY,
		NVL((SELECT MONEY FROM T_PAY_ORDER_DETAIL_MONEY ODM WHERE ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.PAY_MODE = 'CARD'),0) AS CARDMONEY,
		NVL((SELECT MONEY FROM T_PAY_ORDER_DETAIL_MONEY ODM WHERE ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.PAY_MODE = 'TT'),0) AS TTMONEY,
		NVL((SELECT MONEY FROM T_PAY_ORDER_DETAIL_MONEY ODM WHERE ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.PAY_MODE = 'WX'),0) AS WXMONEY,
		NVL((SELECT MONEY FROM T_PAY_ORDER_DETAIL_MONEY ODM WHERE ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.PAY_MODE = 'ZFB'),0) AS ZFBMONEY,
		TO_CHAR(OD.CJSJ,'YYYY-MM-DD HH24:MI:SS') CJSJ,
		(select PAY_STYLE_NAME from T_PAY_STYLE p where p.pkid = i.PAY_TYPE_PKID) PAY_STYLE_NAME,
  		(select SCHOOL_YEAR_NAME from T_SCHOOL_YEAR s where s.pkid = i.SCHOOL_YEAR_PKID) SCHOOL_YEAR_NAME
		FROM T_PAY_ORDER_DETAIL OD
		JOIN T_PAY_ORDER O ON O.PKID = OD.PAY_ORDER_PKID
		JOIN T_STUDENT U ON U.PKID = OD.STUDENT_PKID
		JOIN T_PAY_ITEM I ON I.PKID = OD.PAY_ITEM_PKID
		LEFT JOIN SYS_DEPARTMENT DE ON DE.DEPARTMENT_ID = U.DEPARTMENT_PKID
		WHERE O.ORDERCREATE_MODE IN ('D','DO','I') AND TRANSACTION_FLAG = 1
		AND OD.CJR = #{CJR}
		<if test="STUDENTNAME !=null and STUDENTNAME!=''">
			AND U.XINGMING LIKE CONCAT(CONCAT('%', #{STUDENTNAME}),'%')
		</if>
		<if test="DATEACCOUNTDATE !=null and DATEACCOUNTDATE!=''">
	   		AND OD.CJSJ &gt;= to_date(#{DATEACCOUNTDATE},'YYYY-MM-DD')
	   		AND OD.CJSJ &lt; (to_date(#{DATEACCOUNTDATE},'YYYY-MM-DD')+1)
		</if>
		<if test="JIAOFEILEIXING !=null and JIAOFEILEIXING!=''">
	   		AND OD.INPUT_OUTPUT = #{JIAOFEILEIXING}
		</if>
		<if test="LASTCHECKDATE !=null and LASTCHECKDATE !=''">
	   		AND OD.CJSJ &gt; to_date(#{LASTCHECKDATE},'YYYY-MM-DD HH24:MI:SS')
		</if>
		ORDER BY OD.CJSJ DESC
	</select>
	<!-- 生成核账明细-->
	<select id="dateAccountlist" parameterType="pd" resultType="pd">
		SELECT OD.PKID, OD.PAY_ORDER_PKID, OD.PAY_ORDERNO, OD.STUDENT_PKID, OD.PAY_ITEM_PKID, OD.OTHERITEM_FLAG, OD.PAY_ITEM_COST,
		OD.PAY_ITEM_RULE, OD.DISCOUNT_MONEY, OD.CJSJ, OD.XGSJ, OD.MONEY, OD.STATUS, OD.CJR, OD.XGR, OD.PRINTFLAG, OD.INPUT_OUTPUT, OD.PAY_ITEM_LIST_COST 
		FROM T_PAY_ORDER_DETAIL OD
		JOIN T_PAY_ORDER O ON O.PKID = OD.PAY_ORDER_PKID
		JOIN T_STUDENT U ON U.PKID = OD.STUDENT_PKID
		WHERE O.ORDERCREATE_MODE IN ('D','DO','I') AND TRANSACTION_FLAG = 1
		AND OD.CJR = #{CJR}
		<if test="LASTCHECKDATE !=null and LASTCHECKDATE !=''">
	   		AND OD.CJSJ &gt; to_date(#{LASTCHECKDATE},'YYYY-MM-DD HH24:MI:SS')
		</if>
	</select>
	<!-- 获取核账主表当天行数 -->
	<select id="findCheckMoneyCount" parameterType="pd" resultType="pd">
		SELECT TO_CHAR(COUNT(*)+1,'000') AS COUNT FROM T_CHECKDAY C WHERE C.CHECKDAY_DATE &gt;= TO_DATE(#{DATE},'YYYY-MM-DD')
		AND C.CHECKDAY_DATE &lt; (TO_DATE(#{DATE},'YYYY-MM-DD')+1)
	</select>
	<!-- 获取最后一次核账日期 -->
	<select id="getlastCheckDate" parameterType="pd" resultType="pd">
		SELECT CHECKDAY_DATE FROM (
			SELECT TO_CHAR(CHECKDAY_DATE,'YYYY-MM-DD HH24:MI:SS') CHECKDAY_DATE FROM T_CHECKDAY 
			WHERE CJR = #{CJR}
			ORDER BY CHECKDAY_DATE DESC
		) WHERE ROWNUM = 1
	</select>
	<insert id="saveCheckMoney" parameterType="pd">
		INSERT INTO T_CHECKDAY (PKID, CHECKDAY_NO, CHECKDAY_DATE, RECEIVER, STATUS, TOTALCOST, CASHMONEY, CARDMONEY, TTMONEY,
		WXMONEY, ZFBMONEY, CJSJ,CJR)
		VALUES (#{PKID},#{CHECKDAY_NO},SYSDATE,#{CJR},'0',#{TOTALMONEY},#{CASHTOTALMONEY},#{CARDTOTALMONEY},#{TTTOTALMONEY},#{WXTOTALMONEY},#{ZFBTOTALMONEY},
		SYSDATE,#{CJR})
	</insert>
	<insert id="saveCheckMoneyDetail" parameterType="pd">
		INSERT INTO T_CHECKDAY_DETAIL (PKID, CHECKDAY_PKID, CHECKDAY_NO, PAY_ORDER_DETAIL_PKID, XGR, CJR, STATUS, MONEY, XGSJ, CJSJ, 
		DISCOUNT_MONEY, PAY_ITEM_RULE, PAY_ITEM_COST, OTHERITEM_FLAG, PAY_ITEM_PKID, STUDENT_PKID, PAY_ORDERNO, PAY_ORDER_PKID)
		VALUES (sys_guid(),#{CHECKDAY_PKID},#{CHECKDAY_NO},#{PKID},#{CJR},#{CJR},#{STATUS},#{MONEY},SYSDATE,SYSDATE,#{DISCOUNT_MONEY,jdbcType=VARCHAR},
		#{PAY_ITEM_RULE,jdbcType=VARCHAR},#{PAY_ITEM_COST},#{OTHERITEM_FLAG},#{PAY_ITEM_PKID},#{STUDENT_PKID},#{PAY_ORDERNO},#{PAY_ORDER_PKID})
	</insert>
	<insert id="updateClearOrder" parameterType="pd" useGeneratedKeys="false">
		INSERT INTO T_PAY_ORDER_DEL
		(PKID, ORDERNO, STUDENT_PKID, TOTALMONEY, ORDERCREATE_MODE, ORDERCREATE_TERMINAL, OTHER_ITEM, 
		TRANSACTION_TYPE, TRANSACTION_FLAG, PAY_ITEM_PKID, OTHERITEM_FLAG, PAY_ITEM_COST, PAY_ITEM_RULE, 
		DISCOUNT_MONEY, OD_MONEY, CJR, XGR, PRINTFLAG, INPUT_OUTPUT, PAY_ITEM_LIST_COST, PRINTCOUNT,
		RECEIPTNO, ORDERDATE, TRANSACTION_DATE, TRANSACTION_DIRECTION, TRANSACTION_MODE, TRANSACTION_MONEY,
		TRANSACTION_PAY_PLATFORM, TRANSACTION_HOST_SN,PAY_MODE,DETAIL_MONEY,T_PAY_ITEM_LIST_PKID,INSERT_USER)
		SELECT 
		SYS_GUID(),OD.PAY_ORDERNO,OD.STUDENT_PKID,O.TOTALMONEY,O.ORDERCREATE_MODE,O.ORDERCREATE_TERMINAL,O.OTHER_ITEM,
		O.TRANSACTION_TYPE,O.TRANSACTION_FLAG,OD.PAY_ITEM_PKID,OD.OTHERITEM_FLAG,OD.PAY_ITEM_COST, OD.PAY_ITEM_RULE, 
		OD.DISCOUNT_MONEY, OD.MONEY, OD.CJR, OD.XGR, OD.PRINTFLAG, OD.INPUT_OUTPUT, OD.PAY_ITEM_LIST_COST, OD.PRINTCOUNT,
		OD.RECEIPTNO,O.CJSJ,PL.TRANSACTION_DATE, PL.TRANSACTION_DIRECTION, PL.TRANSACTION_MODE, PL.TRANSACTION_MONEY,
		PL.TRANSACTION_PAY_PLATFORM, PL.TRANSACTION_HOST_SN,ODM.PAY_MODE,ODM.MONEY,OD.T_PAY_ITEM_LIST_PKID,#{INSERT_USER}
		FROM T_PAY_ORDER_DETAIL OD 
		JOIN T_PAY_ORDER O ON O.PKID = OD.PAY_ORDER_PKID
		JOIN T_PAY_TRANSACTION_LOG PL ON PL.PAY_ORDER_PKID = OD.PAY_ORDER_PKID AND PL.TRANSACTION_MONEY > 0
		JOIN T_PAY_ORDER_DETAIL_MONEY ODM ON ODM.PAY_ORDER_DETAIL_PKID = OD.PKID AND ODM.MONEY > 0
		WHERE OD.PKID = #{PKID}
	</insert>
	<select id="getOderDetail" parameterType="pd" resultType="pd">
		select * 
		from T_PAY_ORDER_DETAIL OD 
		WHERE OD.PKID = #{PKID}
	</select>
	<select id="itemlistLock" parameterType="pd" resultType="pd">
		SELECT *
		FROM T_PAY_ITEM_LIST L WHERE L.PKID = #{T_PAY_ITEM_LIST_PKID}
		FOR UPDATE
	</select>
	<update id="updateItemList" parameterType="pd">
		UPDATE T_PAY_ITEM_LIST L
		SET L.AMOUNTCOLLECTION = #{AMOUNTCOLLECTION},
		STATUS = #{STATUS},
		XGSJ = SYSDATE,
		VERIFICATION_DATE = to_date(#{VERIFICATION_DATE,jdbcType=DATE},'YYYY-MM-DD HH24:MI:SS')
		WHERE L.PKID = #{PKID}
	</update>
	<delete id="deleteOrder" parameterType="pd">
		delete from T_PAY_ORDER o where o.pkid = #{PAY_ORDER_PKID}
	</delete>
	<delete id="deleteOrderLog" parameterType="pd">
		delete from T_PAY_TRANSACTION_LOG PL where pl.PAY_ORDER_PKID = #{PAY_ORDER_PKID}
	</delete>
	<delete id="deleteOrderDetailMoney" parameterType="pd">
		delete from T_PAY_ORDER_DETAIL_MONEY ODM where ODM.PAY_ORDER_DETAIL_PKID = #{PKID}
	</delete>
	<delete id="deleteOrderDetail" parameterType="pd">
		DELETE FROM T_PAY_ORDER_DETAIL OD WHERE OD.PKID = #{PKID}
	</delete>
	<select id="getDetailList" parameterType="pd" resultType="pd">
		select * from T_PAY_ORDER_DETAIL OD WHERE OD.PAY_ORDER_PKID = (
		SELECT PAY_ORDER_PKID FROM T_PAY_ORDER_DETAIL POD WHERE POD.PKID = #{DETAIL_PKID}
		AND ROWNUM = 1
		)
	</select>
</mapper>