<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReportClassSumMapper">
	<!-- 获取表单数据 -->
	<select id="getReportClassSumList" parameterType="pd" resultType="pd">
		SELECT TT.*,
		(CASE WHEN TT.LUQUCOUNT = 0 THEN '0' ELSE
			to_char(TT.BAODAOCOUNT/TT.LUQUCOUNT*100, 'fm99,999,990.00') 
		 END
		)
		||'%' BAODAOLV FROM (
		    SELECT 
		    T.NAME RUXUENIANFEN,
		    (SELECT SD.NAME FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=2 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID) XUEYUANNAME,
		    (SELECT SD.NAME FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=4 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID) ZHUANYENAME,
		    T.CLASS_NAME BANJINAME,
		    (SELECT COUNT(1) FROM T_STUDENT S WHERE S.ZHUANGTAI=1 AND S.ZAIXUEZT='ZX' AND S.BANJI=T.BANJIPKID AND S.NIANJI=T.BIANMA
        	AND S.DEPARTMENT_PKID IN (SELECT SD.DEPARTMENT_ID FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=4 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID)) LUQUCOUNT,
		    (SELECT COUNT(1) FROM T_STUDENT S WHERE S.ZHUANGTAI=1 AND S.ZAIXUEZT='ZX' AND S.XINGBIE='男' AND S.BANJI=T.BANJIPKID AND S.NIANJI=T.BIANMA
        	AND S.DEPARTMENT_PKID IN (SELECT SD.DEPARTMENT_ID FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=4 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID)) LUQUCOUNT_NAN,
		    (SELECT COUNT(1) FROM T_STUDENT S WHERE S.ZHUANGTAI=1 AND S.ZAIXUEZT='ZX' AND S.XINGBIE='女' AND S.BANJI=T.BANJIPKID AND S.NIANJI=T.BIANMA
        	AND S.DEPARTMENT_PKID IN (SELECT SD.DEPARTMENT_ID FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=4 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID)) LUQUCOUNT_NV,
		    (SELECT COUNT(1) FROM T_STUDENT S WHERE S.ZHUANGTAI=1 AND S.ZAIXUEZT='ZX' AND S.IS_RECEIVED='Y' AND S.BANJI=T.BANJIPKID AND S.NIANJI=T.BIANMA
        	AND S.DEPARTMENT_PKID IN (SELECT SD.DEPARTMENT_ID FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=4 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID)) BAODAOCOUNT,
		    (SELECT COUNT(1) FROM T_STUDENT S WHERE S.ZHUANGTAI=1 AND S.ZAIXUEZT='ZX' AND S.IS_RECEIVED='Y' AND S.XINGBIE='男' AND S.BANJI=T.BANJIPKID AND S.NIANJI=T.BIANMA
        	AND S.DEPARTMENT_PKID IN (SELECT SD.DEPARTMENT_ID FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=4 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID)) BAODAOCOUNT_NAN,
		    (SELECT COUNT(1) FROM T_STUDENT S WHERE S.ZHUANGTAI=1 AND S.ZAIXUEZT='ZX' AND S.IS_RECEIVED='Y' AND S.XINGBIE='女' AND S.BANJI=T.BANJIPKID AND S.NIANJI=T.BIANMA
        	AND S.DEPARTMENT_PKID IN (SELECT SD.DEPARTMENT_ID FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=4 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID)) BAODAOCOUNT_NV,
		    (SELECT COUNT(1) FROM T_STUDENT S WHERE S.ZHUANGTAI=1 AND S.ZAIXUEZT='ZX' AND (S.IS_RECEIVED IS NULL OR S.IS_RECEIVED='N') AND S.BANJI=T.BANJIPKID AND S.NIANJI=T.BIANMA
        	AND S.DEPARTMENT_PKID IN (SELECT SD.DEPARTMENT_ID FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=4 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID)) BAODAOCOUNT_WEI,
		    (SELECT COUNT(1) FROM T_STUDENT S WHERE S.ZHUANGTAI=1 AND S.ZAIXUEZT='ZX' AND (S.IS_RECEIVED IS NULL OR S.IS_RECEIVED='N') AND S.XINGBIE='男' AND S.BANJI=T.BANJIPKID AND S.NIANJI=T.BIANMA
        	AND S.DEPARTMENT_PKID IN (SELECT SD.DEPARTMENT_ID FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=4 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID)) BAODAOCOUNT_NAN_WEI,
		    (SELECT COUNT(1) FROM T_STUDENT S WHERE S.ZHUANGTAI=1 AND S.ZAIXUEZT='ZX' AND (S.IS_RECEIVED IS NULL OR S.IS_RECEIVED='N') AND S.XINGBIE='女' AND S.BANJI=T.BANJIPKID AND S.NIANJI=T.BIANMA
        	AND S.DEPARTMENT_PKID IN (SELECT SD.DEPARTMENT_ID FROM SYS_DEPARTMENT SD WHERE SD.LEIBIE=4 START WITH SD.DEPARTMENT_ID=T.SYS_DEPARTMENT_PKID CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID)) BAODAOCOUNT_NV_WEI
		
		    FROM 
		    (
			    SELECT DISTINCT(S.BANJI),C.SYS_DEPARTMENT_PKID,C.CLASS_NAME,DIC.NAME,DIC.BIANMA,C.PKID BANJIPKID
			    FROM T_STUDENT S
			    JOIN T_CLASS C ON S.BANJI=C.PKID
			    JOIN SYS_DICTIONARIES DIC ON C.SYS_DICTIONARIES_PKID=DIC.DICTIONARIES_ID
			    WHERE C.IS_USE=1 AND S.ZHUANGTAI=1 AND S.ZAIXUEZT='ZX' AND DIC.PARENT_ID='GRADE' AND DIC.IS_USED='Y'
			    <if test="BANJI != null and BANJI !=''">
			    	 AND C.PKID=#{BANJI}
			    </if>
			    <if test="RUXUENIANFEN != null and RUXUENIANFEN !=''">
			    	 AND DIC.DICTIONARIES_ID=#{RUXUENIANFEN}
			    </if>
			    <!-- <if test="DEPARTMENT_PKID != null and DEPARTMENT_PKID !=''">
			    	 AND C.SYS_DEPARTMENT_PKID IN (SELECT SD.DEPARTMENT_ID FROM SYS_DEPARTMENT SD START WITH SD.DEPARTMENT_ID=#{DEPARTMENT_PKID} CONNECT BY PRIOR SD.PARENT_ID=SD.DEPARTMENT_ID)
			    </if> -->
			    <if test="orgtree != null and orgtree != ''">
					AND C.SYS_DEPARTMENT_PKID IN
					(SELECT REGEXP_SUBSTR(#{orgtree}, '[^,]+', 1, LEVEL)
					FROM DUAL
					CONNECT BY REGEXP_SUBSTR(#{orgtree}, '[^,]+', 1, LEVEL) IS NOT NULL)
				</if>
			    ORDER BY C.CLASS_NAME ASC
		    ) T
		) TT
		ORDER BY TT.RUXUENIANFEN,TT.XUEYUANNAME,TT.ZHUANYENAME,TT.BANJINAME ASC
	</select>
	
	<!-- 获取入学年份 -->
	<select id="getRuxuenianfenList" parameterType="pd" resultType="pd">
		SELECT * FROM SYS_DICTIONARIES DIC WHERE DIC.PARENT_ID='GRADE' AND DIC.IS_USED='Y' ORDER BY DIC.NAME ASC
	</select>
	
	<!-- 获取班级 -->
	<select id="getBanjiList" parameterType="pd" resultType="pd">
		SELECT * FROM T_CLASS C WHERE C.IS_USE=1 ORDER BY C.CLASS_NAME ASC
	</select>
	
	<!-- 获取班级 -->
	<select id="getClassList" parameterType="pd" resultType="pd">
		<!-- SELECT * FROM T_CLASS C WHERE C.IS_USE=1
		<if test="RUXUENIANFEN != null and RUXUENIANFEN !=''">
			AND C.SYS_DICTIONARIES_PKID=#{RUXUENIANFEN}
	    </if>
	    <if test="orgtree != null and orgtree != ''">
			AND C.SYS_DEPARTMENT_PKID IN
			(SELECT REGEXP_SUBSTR(#{orgtree}, '[^,]+', 1, LEVEL)
			FROM DUAL
			CONNECT BY REGEXP_SUBSTR(#{orgtree}, '[^,]+', 1, LEVEL) IS NOT NULL)
		</if>
		 ORDER BY C.CLASS_NAME ASC
		  -->
		 
		 select c.*,d.NAME NIANJI_NAME,t.NAME DEP_NAME from t_class c 
		join SYS_DICTIONARIES d on d.DICTIONARIES_ID = c.SYS_DICTIONARIES_PKID
		join SYS_DEPARTMENT t on t.DEPARTMENT_ID = c.SYS_DEPARTMENT_PKID
		where 
		1=1 
<!-- 		and is_use=1  -->
		and SYS_DICTIONARIES_PKID= #{RUXUENIANFEN} 
		and SYS_DEPARTMENT_PKID in 
		<foreach item="item" index="index" collection="deptArray" open="(" separator="," close=")"> 
		#{deptArray[${index}],jdbcType=VARCHAR}  
		</foreach>
		ORDER BY C.CLASS_NAME ASC
	</select>
</mapper>