@charset "utf-8";
/* CSS Document */
s{font-style:normal;font-weight:normal;text-decoration:none;color:red;}
input[type="text"],input[type="email"],select{padding:5px;margin:0}

.list{margin-bottom: 15px;}
.fl{float:left}
.ask,.answer{padding-bottom:10px;width: 100%;float: left;}
