<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoleMapper">
	
	<resultMap type="Role" id="roleResultMap">
		<id column="ROLE_ID" property="ROLE_ID"/>
		<result column="ROLE_NAME" property="ROLE_NAME"/>
		<result column="RIGHTS" property="RIGHTS"/>
		<result column="DEPARTMENT_ID" property="DEPARTMENT_ID"/>
		<result column="USERID" property="USER_ID"/>
	</resultMap>
	
	<!-- 字段 -->
	<sql id="Field">
		"ROLE_ID",
		"ROLE_NAME",
		"RIGHTS",
		"PARENT_ID",
		"ADD_QX",
		"DEL_QX",
		"EDIT_QX",
		"CHA_QX",
		"DEPARTMENT_ID",
		"USERID"
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ROLE_ID},
		#{ROLE_NAME},
		#{RIGHTS,jdbcType=VARCHAR},
		#{PARENT_ID,jdbcType=VARCHAR},
		#{ADD_QX,jdbcType=VARCHAR},
		#{DEL_QX,jdbcType=VARCHAR},
		#{EDIT_QX,jdbcType=VARCHAR},
		#{CHA_QX,jdbcType=VARCHAR},
		#{DEPARTMENT_ID,jdbcType=VARCHAR},
		#{USERID,jdbcType=VARCHAR}
	</sql>
	
	<!--表名 -->
	<sql id="tableName">
		"SYS_ROLE"
	</sql>
	
	
	<select id="getzu"  parameterType="String"  resultType="pd">
	
	select * from SYS_ROLE   start with role_id =#{ROLE_ID} connect by role_id = prior parent_id and parent_id ='0'
	
	</select>
	
	
	
	
	
	
	<!-- 列出此组下的角色 -->
	<select id="listAllRolesByPId" parameterType="pd" resultMap="roleResultMap">
	
	select r.* from sys_role r join sys_department d on r.department_id = d.department_id
   where 1 = 1 
   <if test="DEPARTMENT_ID!='' or DEPARTMENT_ID!=null"> 
   and  d.department_id =#{DEPARTMENT_ID}
   </if>
 <if test="ROLE_ID!='' and ROLE_ID!=null">
	and r."PARENT_ID" = #{ROLE_ID}
 </if>
   <!-- <if test="ROLE_ID=='' or ROLE_ID==null">
	and r."PARENT_ID" != '0' and r."PARENT_ID" != '2'
</if> -->
 ORDER BY "ROLE_ID"
	
	</select>
	
	<select id="listAllRolesByPId1" parameterType="pd" resultMap="roleResultMap">
	
	select r.* from sys_role r join sys_department d on r.department_id = d.department_id
   where 1 = 1 and r.role_id!='1' 
   <if test="DEPARTMENT_ID!='' or DEPARTMENT_ID!=null"> 
   and  d.department_id =#{DEPARTMENT_ID}
   </if>
 <if test="ROLE_ID!='' and ROLE_ID!=null">
	and r."PARENT_ID" = #{ROLE_ID}  or  ROLE_ID='2'
</if>
 <!--    <if test="ROLE_ID=='' or ROLE_ID==null">
	and r."PARENT_ID" != '0' and r."PARENT_ID" != '2'
</if> -->
 ORDER BY "ROLE_ID"
	
	</select>
		
	<select id="listAllRolesByPId11" parameterType="pd" resultMap="roleResultMap">
	
	select r.* from sys_role r join sys_department d on r.department_id = d.department_id
   where 1 = 1 and r.role_id!='1' 
   <if test="DEPARTMENT_ID!='' or DEPARTMENT_ID!=null"> 
   and  d.department_id =#{DEPARTMENT_ID}
   </if>
 <if test="ROLE_ID!='' and ROLE_ID!=null">
	and r."PARENT_ID" = #{ROLE_ID} 
</if>
 <!--    <if test="ROLE_ID=='' or ROLE_ID==null">
	and r."PARENT_ID" != '0' and r."PARENT_ID" != '2'
</if> -->
 ORDER BY "ROLE_ID"
	
	</select>
	
	
	<!-- 通过id查找 -->
	<select id="findObjectById" parameterType="pd" resultType="pd">
		select  
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="ROLE_ID!='' and ROLE_ID!=null">
			and "ROLE_ID" = #{ROLE_ID}
			</if>
	</select>
	
	
	<select id="findObjectByUserid" parameterType="pd" resultType="pd">
		select  
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="USER_ID!='' and USER_ID!=null">
			and "USERID" = #{USER_ID}
			</if>
	</select>
	
	
	
	<!-- 添加 -->
	<insert id="insert" parameterType="pd">
		insert into 
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>	
		)
	</insert>
	
	<!-- 保存修改 -->
	<update id="edit" parameterType="pd">
		update 
		<include refid="tableName"></include>
		set "ROLE_NAME" = #{ROLE_NAME},
		  "DEPARTMENT_ID" = #{DEPARTMENT_ID}
		 
		
		where "ROLE_ID" = #{ROLE_ID}
	</update>
	
	<!-- 删除角色  -->
	<delete id="deleteRoleById" parameterType="String">
		delete from 
		<include refid="tableName"></include>
		where "ROLE_ID"=#{ROLE_ID}
	</delete>
	
	<!-- 给当前角色附加菜单权限  -->
	<update id="updateRoleRights" parameterType="Role">
		update 
		<include refid="tableName"></include>
		set "RIGHTS"=#{RIGHTS} 
		where "ROLE_ID"=#{ROLE_ID}
	</update>
	
	<!-- 通过id查找 -->
	<select id="getRoleById" parameterType="String" resultMap="roleResultMap">
		select * from 
		<include refid="tableName"></include>
		where "ROLE_ID"=#{ROLE_ID}
	</select>
	
	
	<!-- 给全部子角色加菜单权限 -->
	<update id="setAllRights" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		set "RIGHTS"=#{rights} 
		where "PARENT_ID"=#{ROLE_ID}
	</update>
	
		<!-- 给全部子角色加菜单权限 -->
	<update id="setAllRights111" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		set "ADD_QX"=#{rights}, "DEL_QX"=#{rights} ,"EDIT_QX"=#{rights} ,"CHA_QX"=#{rights}
		where "ROLE_ID"=#{ROLE_ID}
	</update>
	
	
	<!-- 新增权限 -->
	<update id="add_qx" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		set "ADD_QX"=#{value} 
		where "ROLE_ID"=#{ROLE_ID}
	</update>
	
	<!-- 删除权限 -->
	<update id="del_qx" parameterType="pd">
		update
		<include refid="tableName"></include>
		set "DEL_QX"=#{value} 
		where "ROLE_ID"=#{ROLE_ID}
	</update>
	
	<!-- 修改权限 -->
	<update id="edit_qx" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		set "EDIT_QX"=#{value} 
		where "ROLE_ID"=#{ROLE_ID}
	</update>
	
	<!-- 查看权限 -->
	<update id="cha_qx" parameterType="pd">
		update 
		<include refid="tableName"></include>
		set "CHA_QX"=#{value} 
		where "ROLE_ID"=#{ROLE_ID}
	</update>
	
	
	<!-- 列出此部门下的角色 -->
	<select id="listAllRolesBydepid" parameterType="pd" resultMap="roleResultMap">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where 1=1
		<if test="DEPARTMENT_ID!=null and DEPARTMENT_ID!=''">
		and "DEPARTMENT_ID" = #{DEPARTMENT_ID}
		</if>
		ORDER BY "ROLE_ID"
	</select>
	
	<select id="sys_role_department" parameterType="pd" resultType="pd">
	
	select sys_role_department.id id,sys_department.name name,sys_role_department.role_id role_id,sys_role_department.department_id depid from sys_department,sys_role_department,SYS_ROLE where sys_role.role_id=sys_role_department.role_id and sys_role_department.department_id =sys_department.department_id  and sys_role.role_id=#{ROLE_ID}
	
	</select>
	
	<select id="deleterd" parameterType="String">
	delete from sys_role_department where role_id =#{ROLE_ID}
	</select>
	
	<select id="addrd" parameterType="pd">
	insert into sys_role_department (id,role_id,department_id) values (#{ID},#{ROLE_ID},#{DEPARTMENT_ID})
	</select>
	<!-- zhoudibo -->
</mapper>