<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WzxMapper">
	
	<!--表名 -->
	<sql id="tableName">
		"SYS_DEPARTMENT"
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		"NAME",	
		"NAME_EN",
		"BIANMA",
		"QY_NAME",
		"IS_ONLINE"
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
			#{NAME},	
			#{NAME_EN},
			#{BIANMA},
			#{QY_NAME},
			#{IS_ONLINE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			"WZX_ID" = #{WZX_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
			set 
				"NAME" = #{NAME},	
			"WZX_ID" = "WZX_ID"
			where 
				"WZX_ID" = #{WZX_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			"WZX_ID" = #{WZX_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
	   select name,name_en,bianma,qy_name,xmid,department_type_id,projectcode,days,s.param_value param_value
	   from(
		select tt.name               name,
				tt.department_id     xmid,
      		   tt.name_en            name_en,
               tt.BIANMA             BIANMA,
               s.name                qy_name,
               tt.DEPARTMENT_TYPE_ID DEPARTMENT_TYPE_ID,
               tt.days               days,
               tt.projectcode        projectcode
        from sys_department s,
           (select name,
               name_en,
               DEPARTMENT_ID,
               BIANMA,
               DEPARTMENT_TYPE_ID,
               nvl(trunc(sysdate)-xmxt_times,0) days,
               PARENT_ID,
               PROJECTCODE
            from sys_department t
            where t.department_type_id = '2' and PROJECTSTATUS = '2') tt
       where s.department_id = tt.parent_id ),SYS_CONFIG s
      where s.Param_Comment = '项目未在线报警时间（天）'
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					
					NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
				    NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
			
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			"WZX_ID" in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- zhoudibo -->
</mapper>